extends ../layout/index
block contenido
     main.container.mt-5
         .row
               .col-md-5
                    img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
               .col-md-7
                    h1 #{pagina} <!--El blockquote marca con mayor intensidad el texto -->
                    blockquote Este libro es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32
                    p Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta, acompañadas por versiones en Inglés de la traducción realizada en 1914 por H. Rackham. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. 
                    p Todos los generadores de Lorem Ipsum que se encuentran en Internet tienden a repetir trozos predefinidos cuando sea necesario, haciendo a este el único generador verdadero (válido) en la Internet.
     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                         h2.mb-4 Seguridad
                         p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33
                    .col-md-4
                         img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejores Destinos
                         p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33  
                    .col-md-4
                         img(src="img/icono_Precios.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejores Precios
                         p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33                           